@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@700&display=swap");
@import url("http://fonts.cdnfonts.com/css/games");

.home {
  font-size: calc(34px + 1.5vw);
  color: #ffff;
  font-family: "Games", sans-serif;
  overflow: hidden;
  height: 30vw;
  background: rgba(0, 0, 0, 0.3);
  padding-left: 50px;
  border-radius: 30px;
  width: 40vw;
  margin-top: 7%;
  border: 0.5px solid gray;
  min-width: 500px;
  min-height: 350px;
}
.blur {
  overflow: hidden;
  height: 30vw;
  padding-left: 50px;
  width: 40vw;
  margin-top: 7%;
  backdrop-filter: blur(9px);
  -webkit-filter: blur(9px);
  position: absolute;
  z-index: -1;
  min-width: 500px;
  min-height: 350px;
}

.title {
  height: 65%;
  width: 90%;
  padding-left: 50px;
}

.title h1 {
  width: 100%;
  height: 100%;
}

.initial {
  color: #ffffff;
}

.button-home-pushable {
  margin-left: 50px;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-home-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button-home-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    #a30036 92%,
    #52001b 0%,
    #a30036 8%,
    #52001b 100%
  );
}

.button-home-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: #f00065;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

@media (min-width: 768px) {
  .button-home-front {
    font-size: 1.5vw;
    padding: 12px 42px;
  }
}

.button-home-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-home-pushable:hover .button-home-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-home-pushable:active .button-home-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-home-pushable:hover .button-home-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-home-pushable:active .button-home-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-home-pushable:focus:not(:focus-visible) {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .home {
    padding: 5px;
    min-width: 470px;
    min-height: 300px;
    margin: 50px 10px 0 10px;
  }

  .blur {
    min-width: 432px;
    min-height: 300px;
    margin: 50px 10px 0 10px;
    height: 57vw;
    border-radius: 30px;
  }

  .title {
    font-size: 8vw;
    margin-bottom: 9px;
  }
}
